.gm-style-iw-c {
    border-radius: 0px !important;
}
.gm-style-iw-d {
    padding-right: 70px;
}
.gm-ui-hover-effect {
    top: 0 !important;
    right: 0 !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.gm-ui-hover-effect img {
    width: 80% !important;
    height: 80% !important;
    margin: auto !important;
}