form(data-home-contact autocomplete="off")
  .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
    input(type='text' name="name").form-field__input
    .input-message(data-input-message) Ім’я:*
  .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
    input(type='text' name="phone").form-field__input
    .input-message(data-input-message) Телефон:*
  button( type="submit" data-btn-submit).home-content__link.link
    span(data-btn-submit-text).link__text.usn Надіслати
    span.link-ico.link-ico--margin
      span.link-ico__stic.bgc--wc
      +svg('arrow').link__ico.fill--wc
