.header.transparent
    a(href="/" class="header-logo")
        <svg class="header-logo" width="222" height="60" viewBox="0 0 222 60" preserveAspectRatio="xMinYMin meet" fill="none" xmlns="http://www.w3.org/2000/svg">
            g
                <path d="M6.20559 5.79053H0V55.1083H6.20559V5.79053Z" fill="#E5CDB7"/>
                <path d="M14.9136 0H8.70801V60H14.9136V0Z" fill="#E5CDB7"/>
                <path d="M23.7212 0H17.5156V60H23.7212V0Z" fill="#E5CDB7"/>
                <path d="M32.4292 5.79053H26.2236V55.1083H32.4292V5.79053Z" fill="#E5CDB7"/>
            <path d="M50.946 25.0582C49.7449 24.3594 48.8441 23.5607 48.1435 22.3627C47.4428 21.2645 47.1426 19.9667 47.1426 18.4692C47.1426 17.0715 47.4428 15.7737 48.1435 14.5757C48.8441 13.4775 49.7449 12.579 50.946 11.8802C52.1471 11.1813 53.4483 10.8818 54.9496 10.8818C56.1507 10.8818 57.2517 11.0815 58.2526 11.4808C59.2535 11.8802 60.0542 12.4792 60.7548 13.2778L59.0533 14.975C57.9523 13.8768 56.6511 13.2778 55.1498 13.2778C54.1489 13.2778 53.2481 13.4775 52.4474 13.9767C51.6466 14.376 51.0461 15.0748 50.5456 15.7737C50.0452 16.4725 49.845 17.4709 49.845 18.4692C49.845 19.4675 50.0452 20.366 50.5456 21.1647C51.0461 21.9634 51.6466 22.5624 52.4474 22.9617C53.2481 23.361 54.1489 23.6605 55.1498 23.6605C56.7512 23.6605 58.0524 23.0615 59.0533 21.9634L60.8549 23.6605C60.1543 24.4592 59.3536 25.0582 58.3527 25.4575C57.3518 25.8569 56.2508 26.0565 55.0497 26.0565C53.5483 25.9567 52.1471 25.6572 50.946 25.0582Z" fill="white"/>
            <path d="M75.0675 23.4614V25.7576H64.0576V11.082H74.8674V13.3782H66.8601V17.1719H73.9665V19.3682H66.8601V23.4614H75.0675Z" fill="white"/>
            <path d="M91.7827 11.082V25.7576H89.4806L81.3733 15.7742V25.7576H78.6709V11.082H80.973L89.0803 21.0654V11.082H91.7827Z" fill="white"/>
            <path d="M99.2897 13.3782H94.3853V11.082H106.897V13.3782H101.992V25.7576H99.2897V13.3782Z" fill="white"/>
            <path d="M119.207 25.7576L116.205 21.4647C116.104 21.4647 115.904 21.4647 115.604 21.4647H112.301V25.7576H109.599V11.082H115.704C117.005 11.082 118.106 11.2817 119.007 11.681C119.908 12.0804 120.709 12.6794 121.209 13.478C121.71 14.2767 122.01 15.1752 122.01 16.2734C122.01 17.3715 121.71 18.3699 121.209 19.1686C120.709 19.9672 119.908 20.5662 118.907 20.9656L122.31 25.7576H119.207ZM118.206 14.1769C117.606 13.6777 116.705 13.3782 115.504 13.3782H112.301V19.2684H115.504C116.705 19.2684 117.606 18.9689 118.206 18.4697C118.807 17.9706 119.107 17.2717 119.107 16.2734C119.107 15.3749 118.807 14.676 118.206 14.1769Z" fill="white"/>
            <path d="M135.022 22.3632H127.615L126.114 25.7576H123.311L129.917 11.082H132.619L139.325 25.7576H136.423L135.022 22.3632ZM134.121 20.2667L131.318 13.8774L128.516 20.2667H134.121Z" fill="white"/>
            <path d="M141.828 11.082H144.531V23.4614H152.237V25.7576H141.728V11.082H141.828Z" fill="white"/>
            <path d="M170.754 11.7809C171.655 12.1802 172.455 12.7792 172.956 13.5779C173.456 14.3765 173.756 15.275 173.756 16.3732C173.756 17.4714 173.456 18.3699 172.956 19.1686C172.455 19.9672 171.755 20.5662 170.754 20.9656C169.753 21.3649 168.652 21.5646 167.451 21.5646H164.148V25.7576H161.445V11.082H167.551C168.652 11.082 169.753 11.2817 170.754 11.7809ZM169.953 18.4697C170.554 17.9706 170.854 17.2717 170.854 16.2734C170.854 15.3749 170.554 14.5762 169.953 14.077C169.352 13.5779 168.452 13.2784 167.251 13.2784H164.048V19.0687H167.251C168.452 19.2684 169.352 18.9689 169.953 18.4697Z" fill="white"/>
            <path d="M185.768 22.3632H178.361L176.86 25.7576H174.057L180.663 11.082H183.366L190.072 25.7576H187.169L185.768 22.3632ZM184.867 20.2667L182.064 13.8774L179.262 20.2667H184.867Z" fill="white"/>
            <path d="M202.182 25.7576L199.18 21.4647C199.08 21.4647 198.879 21.4647 198.579 21.4647H195.276V25.7576H192.574V11.082H198.679C199.98 11.082 201.081 11.2817 201.982 11.681C202.883 12.0804 203.684 12.6794 204.184 13.478C204.685 14.2767 204.985 15.1752 204.985 16.2734C204.985 17.3715 204.685 18.3699 204.184 19.1686C203.684 19.9672 202.883 20.5662 201.882 20.9656L205.285 25.7576H202.182ZM201.182 14.1769C200.581 13.6777 199.68 13.3782 198.479 13.3782H195.276V19.2684H198.479C199.68 19.2684 200.581 18.9689 201.182 18.4697C201.782 17.9706 202.082 17.2717 202.082 16.2734C202.082 15.3749 201.782 14.676 201.182 14.1769Z" fill="white"/>
            <path d="M213.492 19.6677L211.19 22.0637V25.8574H208.488V11.082H211.19V18.5696L218.497 11.082H221.6L215.394 17.6711L222 25.7576H218.797L213.492 19.6677Z" fill="white"/>
            <path d="M56.451 39.6343L52.2472 49.0186H51.2463L47.0425 39.6343H48.1435L51.7467 47.8206L55.35 39.6343H56.451Z" fill="white"/>
            <path d="M57.8521 39.6343H58.8521V49.0186H57.8521V39.6343Z" fill="white"/>
            <path d="M69.8632 39.6343V49.0186H69.0624L62.957 41.4313V49.0186H61.9561V39.6343H62.7568L68.8623 47.2216V39.6343H69.8632Z" fill="white"/>
            <path d="M80.8729 39.6343V49.0186H80.0722L73.9667 41.4313V49.0186H72.9658V39.6343H73.7665L79.872 47.2216V39.6343H80.8729Z" fill="white"/>
            <path d="M87.1788 45.824V49.1185H86.1779V45.824L82.3745 39.6343H83.4755L86.6784 44.9255L89.8813 39.6343H90.8822L87.1788 45.824Z" fill="white"/>
            <path d="M94.2849 40.5328H90.9819V39.6343H98.5888V40.5328H95.2858V49.1185H94.2849V40.5328Z" fill="white"/>
            <path d="M100.591 48.8187C99.9902 48.619 99.4897 48.3195 99.0894 47.9202L99.4897 47.1215C99.79 47.421 100.29 47.7205 100.891 47.9202C101.492 48.1199 102.092 48.2197 102.693 48.2197C103.493 48.2197 104.194 48.02 104.594 47.7205C104.995 47.421 105.195 47.0217 105.195 46.5225C105.195 46.1232 105.095 45.8237 104.895 45.624C104.694 45.4244 104.394 45.2247 104.094 45.1249C103.794 45.025 103.293 44.8254 102.693 44.7255C101.992 44.5259 101.391 44.3262 100.991 44.2264C100.591 44.0267 100.19 43.827 99.8901 43.4277C99.5898 43.0284 99.3896 42.629 99.3896 42.03C99.3896 41.5309 99.4897 41.1315 99.79 40.7322C100.09 40.3328 100.391 40.0334 100.991 39.8337C101.492 39.634 102.192 39.5342 102.893 39.5342C103.393 39.5342 103.994 39.634 104.494 39.7338C104.995 39.8337 105.495 40.1332 105.795 40.3329L105.495 41.1315C105.095 40.832 104.694 40.6323 104.194 40.5325C103.694 40.4327 103.293 40.3329 102.893 40.3329C102.092 40.3329 101.391 40.5325 100.991 40.832C100.591 41.1315 100.391 41.5309 100.391 42.03C100.391 42.4294 100.491 42.7289 100.691 42.9285C100.891 43.1282 101.191 43.3279 101.592 43.4277C101.992 43.5275 102.392 43.7272 102.993 43.827C103.694 44.0267 104.294 44.1265 104.694 44.3262C105.095 44.5259 105.495 44.7255 105.795 45.1249C106.096 45.4244 106.196 45.9235 106.196 46.5225C106.196 47.0217 106.096 47.421 105.795 47.8204C105.495 48.2197 105.095 48.5192 104.594 48.7189C104.094 48.9185 103.393 49.0184 102.593 49.0184C101.892 49.1182 101.291 49.0184 100.591 48.8187Z" fill="white"/>
            <path d="M108.298 39.6343H109.298V49.0186H108.298V39.6343Z" fill="white"/>
            <path d="M118.407 46.5228H113.102L112.001 49.0186H111L115.304 39.6343H116.305L120.609 49.0186H119.508L118.407 46.5228ZM118.006 45.7241L115.704 40.6326L113.402 45.7241H118.006Z" fill="white"/>
            </svg>
    .langs-header
        ul
            li 
                a(href="#") UA 
            li 
                a(href="#") RU 
            li 
                a(href="#") EN 
    button(type="button" class="button button--small with-hover" data-form-wrapper-call) 
        .button__hover
        span замовити дзвінок
    a(href="#" data-mob-choose-link)
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="18" cy="18" r="18" fill="#E5CDB7"/>
            <path d="M20.3214 17.3846H16.881M16.881 17.3846V15.9487M16.881 17.3846V21.8974H14.25M16.881 10H10V21.8974H14.25M16.881 10V12.6667M16.881 10H27V17.3846H25.381M22.5476 17.3846H25.381M25.381 17.3846V26H14.25V21.8974" stroke="#23242B"/>
            </svg>

    div(data-call-mobile-callback-popup)
        <svg class=""  width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="25" cy="25" r="25" fill="#E5CDB7"/>
            <path d="M33.9994 29.4765V32.1862C34.0005 32.4377 33.9488 32.6867 33.8479 32.9172C33.7469 33.1477 33.5988 33.3546 33.413 33.5247C33.2273 33.6947 33.008 33.8242 32.7693 33.9048C32.5305 33.9854 32.2775 34.0153 32.0265 33.9927C29.2415 33.6907 26.5664 32.7409 24.216 31.2197C22.0293 29.8329 20.1753 27.9827 18.7858 25.8003C17.2563 23.4439 16.3044 20.7611 16.0073 17.9692C15.9847 17.7194 16.0145 17.4676 16.0947 17.23C16.1749 16.9923 16.3038 16.7739 16.4732 16.5887C16.6426 16.4034 16.8489 16.2554 17.0787 16.1541C17.3086 16.0528 17.5571 16.0003 17.8084 16.0001H20.5235C20.9627 15.9958 21.3885 16.151 21.7215 16.4368C22.0545 16.7227 22.2721 17.1196 22.3335 17.5537C22.4481 18.4208 22.6607 19.2723 22.9671 20.0918C23.0888 20.4151 23.1152 20.7664 23.043 21.1042C22.9708 21.442 22.8031 21.752 22.5598 21.9976L21.4104 23.1447C22.6988 25.406 24.5748 27.2784 26.8406 28.5642L27.99 27.4171C28.2361 27.1742 28.5467 27.0069 28.8852 26.9348C29.2236 26.8628 29.5757 26.8891 29.8996 27.0106C30.7207 27.3164 31.5739 27.5285 32.4428 27.6429C32.8824 27.7048 33.2839 27.9258 33.5709 28.2639C33.858 28.6019 34.0105 29.0335 33.9994 29.4765Z" stroke="#23242B" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

    a(href="tel:+380449956364")  +38 (044) 995-63-64
    button(type="button" class="button button--small with-hover")
        .button__hover
        span обрати квартиру
    button(type="button" data-menu-call).header__menu
        span Меню
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="30" cy="30" r="30" fill="#E5CDB7"/>
            <circle class="circle-hover" cx="30" cy="30" r="30" fill="#23242B"/>
            <path d="M37 24L37 23L23 23L23 24L37 24Z" fill="#23242B"/>
            <path d="M40 28L40 27L20 27L20 28L40 28Z" fill="#23242B"/>
            <path d="M40 32L40 31L20 31L20 32L40 32Z" fill="#23242B"/>
            <path d="M37 36L37 35L23 35L23 36L37 36Z" fill="#23242B"/>
            </svg>
.mobile-callback-popup(data-mobile-callback-popup) 
    a.mobile-callback-popup__tel(href="tel:+380443563777") Виклик +380 (44) 356 37 77
    .mobile-callback-popup__callback(data-call-form-popup) Зворотній дзвінок
    .mobile-callback-popup__close(data-mobile-callback-close) Відмінити
<svg data-up-arrow data-circle-with-hover width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle data-circle-with-hover-default cx="30" cy="30" r="30" style="fill: #23242B;"/>
    <circle data-circle-with-hover-hover cx="30" cy="30" r="30" />
    <path d="M24 26.2997C25.5918 25.1988 30 21.0275 30 20M30 20C30 21.0398 34.102 25.0765 36 26.2997M30 20L30 40" stroke="#E5CDB7"/>
    </svg>
