
extends ../layout/main
block variable
  -
    var title_page = '3D тур'
    var id_page = 'id-page-3d-tour'
    var class_page = 'class-page-3d-tour'
    var breadcrumbsSubitem = [
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/index-app.bundle.js')
  script(defer src='./assets/scripts/3d-tour.bundle.js')
block content
  +InnerPageFront(title_page, 'some', './assets/images/3d-tour/front.jpg')
  .three-d-container
    .swiper-pagination
    .swiper-three-d.swiper
      .swiper-wrapper
        .swiper-slide
          .block-img-text.three-d-text
            .block-img-text__text
              // .three-d-title Квартира 3А
              p 1А. Площа квартири 44,0 м2. У вхідній зоні розташовано містку шафу. Кухня-вітальня площею 20,0 м2 має зони для приготування та споживання страв, а також зону відпочинку з комфортним диваном . Спальня площею 14,3 м2 з двоспальним ліжком, телевізором та гардеробною. З панорамних вікон відкривається прекрасний пейзаж міста. Скористайтесь функцією 3D-туру квартирою, і Ви впевнитесь у зручності її планування та функціональності.
              a.button.with-hover.mt-medium(href="3d")
                .button__hover
                span Обрати квартиру
            .block-img-text__img-wrap 
              .block-img-text__img
                <iframe width="560" height="315" data-src="https://vrnet.io/view5.16a/?model=ua/bmu6/cp3/1a" frameborder="0"></iframe>
        .swiper-slide
          .block-img-text.three-d-text
            .block-img-text__text
              // .three-d-title Квартира 3А
              p 1А. Площа квартири 44,0 м2. У вхідній зоні розташовано містку шафу. Кухня-вітальня площею 20,0 м2 має зони для приготування та споживання страв, а також зону відпочинку з комфортним диваном . Спальня площею 14,3 м2 з двоспальним ліжком, телевізором та гардеробною. З панорамних вікон відкривається прекрасний пейзаж міста. Скористайтесь функцією 3D-туру квартирою, і Ви впевнитесь у зручності її планування та функціональності.
              a.button.with-hover.mt-medium(href="3d")
                .button__hover
                span Обрати квартиру
            .block-img-text__img-wrap 
              .block-img-text__img
                <iframe width="560" height="315" data-src="https://vrnet.io/view5.16a/?model=ua/bmu6/cp/1b" frameborder="0"></iframe>
        .swiper-slide
          .block-img-text.three-d-text
            .block-img-text__text
              // .three-d-title Квартира 3А
              p 1А. Площа квартири 44,0 м2. У вхідній зоні розташовано містку шафу. Кухня-вітальня площею 20,0 м2 має зони для приготування та споживання страв, а також зону відпочинку з комфортним диваном . Спальня площею 14,3 м2 з двоспальним ліжком, телевізором та гардеробною. З панорамних вікон відкривається прекрасний пейзаж міста. Скористайтесь функцією 3D-туру квартирою, і Ви впевнитесь у зручності її планування та функціональності.
              a.button.with-hover.mt-medium(href="3d")
                .button__hover
                span Обрати квартиру
            .block-img-text__img-wrap 
              .block-img-text__img
                <iframe width="560" height="315" data-src="https://vrnet.io/view5.16a/?model=ua/bmu6/cp/1v" frameborder="0"></iframe>
        .swiper-slide
          .block-img-text.three-d-text
            .block-img-text__text
              // .three-d-title Квартира 3А
              p 1А. Площа квартири 44,0 м2. У вхідній зоні розташовано містку шафу. Кухня-вітальня площею 20,0 м2 має зони для приготування та споживання страв, а також зону відпочинку з комфортним диваном . Спальня площею 14,3 м2 з двоспальним ліжком, телевізором та гардеробною. З панорамних вікон відкривається прекрасний пейзаж міста. Скористайтесь функцією 3D-туру квартирою, і Ви впевнитесь у зручності її планування та функціональності.
              a.button.with-hover.mt-medium(href="3d")
                .button__hover
                span Обрати квартиру
            .block-img-text__img-wrap 
              .block-img-text__img
                <iframe width="560" height="315" data-src="https://vrnet.io/view5.16a/?model=ua/bmu6/cp/1g" frameborder="0"></iframe>
        .swiper-slide
          .block-img-text.three-d-text
            .block-img-text__text
              // .three-d-title Квартира 3А
              p 1А. Площа квартири 44,0 м2. У вхідній зоні розташовано містку шафу. Кухня-вітальня площею 20,0 м2 має зони для приготування та споживання страв, а також зону відпочинку з комфортним диваном . Спальня площею 14,3 м2 з двоспальним ліжком, телевізором та гардеробною. З панорамних вікон відкривається прекрасний пейзаж міста. Скористайтесь функцією 3D-туру квартирою, і Ви впевнитесь у зручності її планування та функціональності.
              a.button.with-hover.mt-medium(href="3d")
                .button__hover
                span Обрати квартиру
            .block-img-text__img-wrap 
              .block-img-text__img
                <iframe width="560" height="315" data-src="https://vrnet.io/view5.16a/?model=ua/bmu6/cp/1je" frameborder="0"></iframe>
        .swiper-slide
          .block-img-text.three-d-text
            .block-img-text__text
              // .three-d-title Квартира 3А
              p 1А. Площа квартири 44,0 м2. У вхідній зоні розташовано містку шафу. Кухня-вітальня площею 20,0 м2 має зони для приготування та споживання страв, а також зону відпочинку з комфортним диваном . Спальня площею 14,3 м2 з двоспальним ліжком, телевізором та гардеробною. З панорамних вікон відкривається прекрасний пейзаж міста. Скористайтесь функцією 3D-туру квартирою, і Ви впевнитесь у зручності її планування та функціональності.
              a.button.with-hover.mt-medium(href="3d")
                .button__hover
                span Обрати квартиру
            .block-img-text__img-wrap 
              .block-img-text__img
                <iframe width="560" height="315" data-src="https://vrnet.io/view5.16a/?model=ua/bmu6/cp/2a" frameborder="0"></iframe>
        .swiper-slide
          .block-img-text.three-d-text
            .block-img-text__text
              // .three-d-title Квартира 3А
              p 1А. Площа квартири 44,0 м2. У вхідній зоні розташовано містку шафу. Кухня-вітальня площею 20,0 м2 має зони для приготування та споживання страв, а також зону відпочинку з комфортним диваном . Спальня площею 14,3 м2 з двоспальним ліжком, телевізором та гардеробною. З панорамних вікон відкривається прекрасний пейзаж міста. Скористайтесь функцією 3D-туру квартирою, і Ви впевнитесь у зручності її планування та функціональності.
              a.button.with-hover.mt-medium(href="3d")
                .button__hover
                span Обрати квартиру
            .block-img-text__img-wrap 
              .block-img-text__img
                <iframe width="560" height="315" data-src="https://vrnet.io/view5.16a/?model=ua/bmu6/cp/1k" frameborder="0"></iframe>
        .swiper-slide
          .block-img-text.three-d-text
            .block-img-text__text
              // .three-d-title Квартира 3А
              p 1А. Площа квартири 44,0 м2. У вхідній зоні розташовано містку шафу. Кухня-вітальня площею 20,0 м2 має зони для приготування та споживання страв, а також зону відпочинку з комфортним диваном . Спальня площею 14,3 м2 з двоспальним ліжком, телевізором та гардеробною. З панорамних вікон відкривається прекрасний пейзаж міста. Скористайтесь функцією 3D-туру квартирою, і Ви впевнитесь у зручності її планування та функціональності.
              a.button.with-hover.mt-medium(href="3d")
                .button__hover
                span Обрати квартиру
            .block-img-text__img-wrap 
              .block-img-text__img
                <iframe width="560" height="315" data-src="https://vrnet.io/view5.16a/?model=ua/bmu6/cp/3b" frameborder="0"></iframe>
        .swiper-slide
          .block-img-text.three-d-text
            .block-img-text__text
              // .three-d-title Квартира 3А
              p 1А. Площа квартири 44,0 м2. У вхідній зоні розташовано містку шафу. Кухня-вітальня площею 20,0 м2 має зони для приготування та споживання страв, а також зону відпочинку з комфортним диваном . Спальня площею 14,3 м2 з двоспальним ліжком, телевізором та гардеробною. З панорамних вікон відкривається прекрасний пейзаж міста. Скористайтесь функцією 3D-туру квартирою, і Ви впевнитесь у зручності її планування та функціональності.
              a.button.with-hover.mt-medium(href="3d")
                .button__hover
                span Обрати квартиру
            .block-img-text__img-wrap 
              .block-img-text__img
                <iframe width="560" height="315" data-src="https://vrnet.io/view5.16a/?model=ua/bmu6/cp2/2v" frameborder="0"></iframe>
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
