extends ../layout/main
	
block meta
	title= '404'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(defer src='./assets/scripts/index-app.bundle.js')
	script(defer src='./assets/scripts/404.bundle.js')

block content
	section(class="page404-wrap")
		<svg class="top-decor" width="651" height="516" viewBox="0 0 651 516" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<mask id="mask0_1067_4655" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="651" height="516">
			<g clip-path="url(#clip0_1067_4655)">
			<path d="M126 -637.167H0V411.167H126V-637.167Z" fill="url(#paint0_linear_1067_4655)"/>
			<path d="M294 -742H168V516H294V-742Z" fill="url(#paint1_linear_1067_4655)"/>
			<path d="M483 -742H336V516H483V-742Z" fill="url(#paint2_linear_1067_4655)"/>
			<path d="M651 -637.167H525V411.167H651V-637.167Z" fill="url(#paint3_linear_1067_4655)"/>
			</g>
			</mask>
			<g mask="url(#mask0_1067_4655)">
			<rect x="-635" width="1920" height="516" fill="url(#pattern0)"/>
			<rect x="-635" width="1920" height="516" fill="url(#paint4_linear_1067_4655)"/>
			</g>
			<defs>
			<pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
			<use xlink:href="#image0_1067_4655" transform="translate(0.152336 -0.10278) scale(0.000260417 0.000968992)"/>
			</pattern>
			<linearGradient id="paint0_linear_1067_4655" x1="63" y1="-637.167" x2="63" y2="411.167" gradientUnits="userSpaceOnUse">
			<stop offset="0.338542" stop-color="#E5CDB7" stop-opacity="0"/>
			<stop offset="1" stop-color="#E5CDB7"/>
			</linearGradient>
			<linearGradient id="paint1_linear_1067_4655" x1="231" y1="-742" x2="231" y2="516" gradientUnits="userSpaceOnUse">
			<stop offset="0.338542" stop-color="#E5CDB7" stop-opacity="0"/>
			<stop offset="1" stop-color="#E5CDB7"/>
			</linearGradient>
			<linearGradient id="paint2_linear_1067_4655" x1="409.5" y1="-742" x2="409.5" y2="516" gradientUnits="userSpaceOnUse">
			<stop offset="0.338542" stop-color="#E5CDB7" stop-opacity="0"/>
			<stop offset="1" stop-color="#E5CDB7"/>
			</linearGradient>
			<linearGradient id="paint3_linear_1067_4655" x1="588" y1="-637.167" x2="588" y2="411.167" gradientUnits="userSpaceOnUse">
			<stop offset="0.338542" stop-color="#E5CDB7" stop-opacity="0"/>
			<stop offset="1" stop-color="#E5CDB7"/>
			</linearGradient>
			<linearGradient id="paint4_linear_1067_4655" x1="325" y1="0" x2="325" y2="516" gradientUnits="userSpaceOnUse">
			<stop stop-color="#23242B" stop-opacity="0.5"/>
			<stop offset="1" stop-color="#23242B"/>
			</linearGradient>
			<clipPath id="clip0_1067_4655">
			<rect width="651" height="516" fill="white"/>
			</clipPath>
			<image id="image0_1067_4655" width="3840" height="2160" xlink:href="./assets/images/404/front.jpg">
			</defs>
			</svg>

		<svg class="bottom-decor" width="1920" height="167" viewBox="0 0 1920 167" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M41.7631 155.662C28.5747 147.988 18.6835 139.219 10.9903 126.064C3.29708 114.006 0 99.7551 0 83.312C0 67.965 3.29708 53.7143 10.9903 40.5598C18.6835 28.5015 28.5747 18.6356 41.7631 10.9621C54.9514 3.28863 69.2387 0 85.7241 0C98.9124 0 111.002 2.19242 121.992 6.57726C132.982 10.9621 141.774 17.5394 149.468 26.309L130.784 44.9446C118.695 32.8863 104.408 26.309 87.9221 26.309C76.9319 26.309 67.0407 28.5015 58.2485 33.9825C49.4562 38.3673 42.8621 46.0408 37.3669 53.7143C31.8718 61.3878 29.6737 72.3499 29.6737 83.312C29.6737 94.274 31.8718 104.14 37.3669 112.91C42.8621 121.679 49.4562 128.257 58.2485 132.641C67.0407 137.026 76.9319 140.315 87.9221 140.315C105.507 140.315 119.794 133.738 130.784 121.679L150.567 140.315C142.873 149.085 134.081 155.662 123.091 160.047C112.101 164.431 100.011 166.624 86.8231 166.624C70.3377 165.528 54.9514 162.239 41.7631 155.662Z" fill="url(#paint0_linear_1067_4643)" fill-opacity="0.3"/>
			<path d="M306.625 138.128V163.341H185.732V2.19824H304.427V27.4111H216.505V69.067H294.536V93.1836H216.505V138.128H306.625Z" fill="url(#paint1_linear_1067_4643)" fill-opacity="0.3"/>
			<path d="M490.166 2.19824V163.341H464.888L375.867 53.7201V163.341H346.193V2.19824H371.471L460.492 111.819V2.19824H490.166Z" fill="url(#paint2_linear_1067_4643)" fill-opacity="0.3"/>
			<path d="M572.589 27.4111H518.736V2.19824H656.115V27.4111H602.262V163.341H572.589V27.4111Z" fill="url(#paint3_linear_1067_4643)" fill-opacity="0.3"/>
			<path d="M791.298 163.341L758.327 116.204C757.228 116.204 755.03 116.204 751.733 116.204H715.465V163.341H685.791V2.19824H752.832C767.119 2.19824 779.208 4.39066 789.1 8.77549C798.991 13.1603 807.783 19.7376 813.278 28.5073C818.773 37.277 822.07 47.1428 822.07 59.2011C822.07 71.2594 818.773 82.2216 813.278 90.9912C807.783 99.7609 798.991 106.338 788.001 110.723L825.367 163.341H791.298ZM780.307 36.1807C773.713 30.6997 763.822 27.4111 750.634 27.4111H715.465V92.0874H750.634C763.822 92.0874 773.713 88.7988 780.307 83.3178C786.901 77.8367 790.199 70.1632 790.199 59.2011C790.199 49.3352 786.901 41.6618 780.307 36.1807Z" fill="url(#paint4_linear_1067_4643)" fill-opacity="0.3"/>
			<path d="M964.949 126.07H883.621L867.136 163.341H836.363L908.899 2.19824H938.573L1012.21 163.341H980.336L964.949 126.07ZM955.058 103.05L924.285 32.8921L893.513 103.05H955.058Z" fill="url(#paint5_linear_1067_4643)" fill-opacity="0.3"/>
			<path d="M1039.68 2.19824H1069.35V138.128H1153.98V163.341H1038.58V2.19824H1039.68Z" fill="url(#paint6_linear_1067_4643)" fill-opacity="0.3"/>
			<path d="M1357.3 9.87171C1367.19 14.2565 1375.98 20.8338 1381.47 29.6035C1386.97 38.3732 1390.27 48.239 1390.27 60.2973C1390.27 72.3557 1386.97 82.2216 1381.47 90.9912C1375.98 99.7609 1368.29 106.338 1357.3 110.723C1346.31 115.108 1334.22 117.3 1321.03 117.3H1284.76V163.341H1255.09V2.19824H1322.13C1334.22 2.19824 1346.31 4.39066 1357.3 9.87171ZM1348.5 83.3178C1355.1 77.8367 1358.39 70.1632 1358.39 59.2011C1358.39 49.3352 1355.1 40.5656 1348.5 35.0845C1341.91 29.6035 1332.02 26.3149 1318.83 26.3149H1283.66V89.895H1318.83C1332.02 92.0874 1341.91 88.7988 1348.5 83.3178Z" fill="url(#paint7_linear_1067_4643)" fill-opacity="0.3"/>
			<path d="M1522.15 126.07H1440.82L1424.34 163.341H1393.56L1466.1 2.19824H1495.77L1569.41 163.341H1537.54L1522.15 126.07ZM1512.26 103.05L1481.48 32.8921L1450.71 103.05H1512.26Z" fill="url(#paint8_linear_1067_4643)" fill-opacity="0.3"/>
			<path d="M1702.39 163.341L1669.42 116.204C1668.32 116.204 1666.12 116.204 1662.82 116.204H1626.56V163.341H1596.88V2.19824H1663.92C1678.21 2.19824 1690.3 4.39066 1700.19 8.77549C1710.08 13.1603 1718.88 19.7376 1724.37 28.5073C1729.87 37.277 1733.16 47.1428 1733.16 59.2011C1733.16 71.2594 1729.87 82.2216 1724.37 90.9912C1718.88 99.7609 1710.08 106.338 1699.09 110.723L1736.46 163.341H1702.39ZM1691.4 36.1807C1684.81 30.6997 1674.91 27.4111 1661.73 27.4111H1626.56V92.0874H1661.73C1674.91 92.0874 1684.81 88.7988 1691.4 83.3178C1697.99 77.8367 1701.29 70.1632 1701.29 59.2011C1701.29 49.3352 1697.99 41.6618 1691.4 36.1807Z" fill="url(#paint9_linear_1067_4643)" fill-opacity="0.3"/>
			<path d="M1826.59 96.4723L1801.31 122.781V164.437H1771.63V2.19824H1801.31V84.414L1881.54 2.19824H1915.61L1847.47 74.5481L1920 163.341H1884.83L1826.59 96.4723Z" fill="url(#paint10_linear_1067_4643)" fill-opacity="0.3"/>
			<defs>
			<linearGradient id="paint0_linear_1067_4643" x1="75.2833" y1="0" x2="75.2833" y2="166.624" gradientUnits="userSpaceOnUse">
			<stop/>
			<stop offset="1" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint1_linear_1067_4643" x1="246.179" y1="2.19824" x2="246.179" y2="163.341" gradientUnits="userSpaceOnUse">
			<stop/>
			<stop offset="1" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint2_linear_1067_4643" x1="418.18" y1="2.19824" x2="418.18" y2="163.341" gradientUnits="userSpaceOnUse">
			<stop/>
			<stop offset="1" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint3_linear_1067_4643" x1="587.425" y1="2.19824" x2="587.425" y2="163.341" gradientUnits="userSpaceOnUse">
			<stop/>
			<stop offset="1" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint4_linear_1067_4643" x1="755.579" y1="2.19824" x2="755.579" y2="163.341" gradientUnits="userSpaceOnUse">
			<stop/>
			<stop offset="1" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint5_linear_1067_4643" x1="924.285" y1="2.19824" x2="924.285" y2="163.341" gradientUnits="userSpaceOnUse">
			<stop/>
			<stop offset="1" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint6_linear_1067_4643" x1="1096.28" y1="2.19824" x2="1096.28" y2="163.341" gradientUnits="userSpaceOnUse">
			<stop/>
			<stop offset="1" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint7_linear_1067_4643" x1="1322.68" y1="2.19824" x2="1322.68" y2="163.341" gradientUnits="userSpaceOnUse">
			<stop/>
			<stop offset="1" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint8_linear_1067_4643" x1="1481.48" y1="2.19824" x2="1481.48" y2="163.341" gradientUnits="userSpaceOnUse">
			<stop/>
			<stop offset="1" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint9_linear_1067_4643" x1="1666.67" y1="2.19824" x2="1666.67" y2="163.341" gradientUnits="userSpaceOnUse">
			<stop/>
			<stop offset="1" stop-opacity="0"/>
			</linearGradient>
			<linearGradient id="paint10_linear_1067_4643" x1="1845.82" y1="2.19824" x2="1845.82" y2="164.437" gradientUnits="userSpaceOnUse">
			<stop/>
			<stop offset="1" stop-opacity="0"/>
			</linearGradient>
			</defs>
			</svg>
		div(class="page404")
			h1(class="page404__title") 404 
			div(class="page404__subtitle") Такої сторінки не існує.
			div(class="page404__title-small") Почніть з головної або подивіться, які квартири ми пропонуємо
			div(class="link-wrap")
				a(class="button with-hover" onclick="window.history.go(-1);")
					.button__hover
					span Назад
				a(class="button with-hover" href="/")
					.button__hover
					span На главную

block footer
	include ../includes/footer.pug

block header
	include ../includes/header.pug

