svg.inner-front__image-in-logo(width='651' height='516' preserveAspectRatio="xMidYMin meet" viewBox='0 0 651 516' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
  mask#mask0_4_2(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='651' height='516')
    g(clip-path='url(#clip0_4_2)')
      path(d='M126 -637.167H0V411.167H126V-637.167Z' fill='url(#paint0_linear_4_2)')
      path(d='M294 -742H168V516H294V-742Z' fill='url(#paint1_linear_4_2)')
      path(d='M483 -742H336V516H483V-742Z' fill='url(#paint2_linear_4_2)')
      path(d='M651 -637.167H525V411.167H651V-637.167Z' fill='url(#paint3_linear_4_2)')
  g(mask='url(#mask0_4_2)')
    rect(x='-635' width='1920' height='516' fill='url(#pattern0)')
    rect(x='-635' width='1920' height='516' fill='url(#paint4_linear_4_2)')
  defs
    pattern#pattern0(patternContentUnits='objectBoundingBox' width='1' height='1')
      use(xlink:href='#image0_4_2' transform='translate(-0.0829569 -0.382004) scale(0.000303623 0.00112976)')
    lineargradient#paint0_linear_4_2(x1='63' y1='-637.167' x2='63' y2='411.167' gradientUnits='userSpaceOnUse')
      stop(offset='0.338542' stop-color='#E5CDB7' stop-opacity='0')
      stop(offset='1' stop-color='#E5CDB7')
    lineargradient#paint1_linear_4_2(x1='231' y1='-742' x2='231' y2='516' gradientUnits='userSpaceOnUse')
      stop(offset='0.338542' stop-color='#E5CDB7' stop-opacity='0')
      stop(offset='1' stop-color='#E5CDB7')
    lineargradient#paint2_linear_4_2(x1='409.5' y1='-742' x2='409.5' y2='516' gradientUnits='userSpaceOnUse')
      stop(offset='0.338542' stop-color='#E5CDB7' stop-opacity='0')
      stop(offset='1' stop-color='#E5CDB7')
    lineargradient#paint3_linear_4_2(x1='588' y1='-637.167' x2='588' y2='411.167' gradientUnits='userSpaceOnUse')
      stop(offset='0.338542' stop-color='#E5CDB7' stop-opacity='0')
      stop(offset='1' stop-color='#E5CDB7')
    lineargradient#paint4_linear_4_2(x1='325' y1='0' x2='325' y2='516' gradientUnits='userSpaceOnUse')
      stop(stop-color='#23242B' stop-opacity='0.5')
      stop(offset='1' stop-color='#23242B')
    clippath#clip0_4_2
      rect(width='651' height='516' fill='white')
    image#image0_4_2(width='3840' height='2160' xlink:href=imageInLogoSrc)