.screen9
  - 
    var texts = [
      'Площа квартири 46,7 м2. Містка гардеробна. Кухня площею 15,6 м2 із зоною для приготування та споживання улюблених страв. Спальня площею 17,7 м2 з ліжком, телевізором, трюмо та зоною для зберігання. Панорамні вікна з виглядом на лісопаркову зону. Скористайтесь функцією 3D-туру квартирою, і Ви впевнитесь у зручності її планування та функціональності.',
      'Площа квартири 55,7 м2. Містка гардеробна. Кухня площею 15,6 м2 із зоною для приготування та споживання улюблених страв. Спальня площею 17,7 м2 з ліжком, телевізором, трюмо та зоною для зберігання. Панорамні вікна з виглядом на лісопаркову зону. Скористайтесь функцією 3D-туру квартирою, і Ви впевнитесь у зручності її планування та функціональності.',
      'Площа квартири 56,7 м2. Містка гардеробна. Кухня площею 15,6 м2 із зоною для приготування та споживання улюблених страв. Спальня площею 17,7 м2 з ліжком, телевізором, трюмо та зоною для зберігання. Панорамні вікна з виглядом на лісопаркову зону. Скористайтесь функцією 3D-туру квартирою, і Ви впевнитесь у зручності її планування та функціональності.',
      'Площа квартири 57,7 м2. Містка гардеробна. Кухня площею 15,6 м2 із зоною для приготування та споживання улюблених страв. Спальня площею 17,7 м2 з ліжком, телевізором, трюмо та зоною для зберігання. Панорамні вікна з виглядом на лісопаркову зону. Скористайтесь функцією 3D-туру квартирою, і Ви впевнитесь у зручності її планування та функціональності.',
      'Площа квартири 58,7 м2. Містка гардеробна. Кухня площею 15,6 м2 із зоною для приготування та споживання улюблених страв. Спальня площею 17,7 м2 з ліжком, телевізором, трюмо та зоною для зберігання. Панорамні вікна з виглядом на лісопаркову зону. Скористайтесь функцією 3D-туру квартирою, і Ви впевнитесь у зручності її планування та функціональності.',
    ]
  .section-decor
    +svg('logo-mini')
  <svg   preserveAspectRatio="xMidYMax slice" width="1921" height="1329" viewBox="0 0 1921 1329" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0H1921V1329H0V0Z" fill="white"/>
    <rect width="960" height="1329" fill="#23242B"/>
    //- <path d="M838.204 394.527H762V982.859H838.204V394.527Z" fill="white"/>
    //- <path d="M945.134 325.45H868.93V1041.21H945.134V325.45Z" fill="white"/>
    //- <path d="M1052.07 325.45H975.866V1041.21H1052.07V325.45Z" fill="#23242B"/>
    //- <path d="M1159 394.527H1082.8V982.859H1159V394.527Z" fill="#23242B"/>
    </svg>
  .screen9__left
    .title-h2.text-beige 3D тур
    .nav-wrap(data-nav-wrap)
      <svg data-circle-with-hover width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle data-circle-with-hover-default cx="40" cy="40" r="39.5" />
        <circle data-circle-with-hover-hover cx="40" cy="40" r="39.5" />
        <path d="M35.1896 32C33.7584 34.1224 28.3358 40 27 40M27 40C28.3517 40 33.5994 45.4694 35.1896 48M27 40L53 40"/>
        </svg>
      <svg data-circle-with-hover width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle data-circle-with-hover-default cx="40" cy="40" r="39.5" />
        <circle data-circle-with-hover-hover cx="40" cy="40" r="39.5" />
        <path d="M44.8104 32C46.2416 34.1224 51.6642 40 53 40M53 40C51.6483 40 46.4006 45.4694 44.8104 48M53 40L27 40"/>
        </svg>
  .screen9__center(data-vr-frame)
    .curtain
    <svg data-screen9-bg class="screen9__center-bg" width="397" height="737" viewBox="0 0 397 737" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M76.2044 71.1045H0V676.702H76.2044V71.1045Z" fill="white"/>
      <path d="M183.134 0H106.929V736.769H183.134V0Z" fill="white"/>
      <path d="M290.07 0H213.866V736.769H290.07V0Z" fill="#23242B"/>
      <path d="M397 71.1045H320.796V676.702H397V71.1045Z" fill="#23242B"/>
      </svg>
    iframe(data-backgrounds="./assets/images/screen9/1a.png~./assets/images/screen9/1b.png" style="background-image: url(./assets/images/screen9/1a.png)"  data-src="https://ua-maps3d.vrnet.io/view5.16a/?model=ua/bmu6/forresthome/1zhe")
    <svg data-circle-with-hover class="screen9__center-button" width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle data-circle-with-hover-default cx="75" cy="75" r="75" style="fill:#23242B"/>
      <circle data-circle-with-hover-hover cx="75" cy="75" r="75" fill="#23242B"/>
      
      <path d="M47.512 87.324C45.832 87.324 44.236 87.072 42.724 86.568C41.212 86.04 39.94 85.284 38.908 84.3L39.988 81.96C41.164 82.92 42.352 83.616 43.552 84.048C44.752 84.48 46.048 84.696 47.44 84.696C49.264 84.696 50.656 84.3 51.616 83.508C52.6 82.692 53.092 81.504 53.092 79.944C53.092 78.456 52.6 77.328 51.616 76.56C50.632 75.792 49.204 75.408 47.332 75.408H43.588V72.852H47.08C48.712 72.852 49.996 72.432 50.932 71.592C51.892 70.728 52.372 69.552 52.372 68.064C52.372 66.744 51.928 65.724 51.04 65.004C50.176 64.284 48.94 63.924 47.332 63.924C44.692 63.924 42.388 64.884 40.42 66.804L39.34 64.5C40.276 63.492 41.464 62.712 42.904 62.16C44.368 61.584 45.904 61.296 47.512 61.296C49.96 61.296 51.868 61.872 53.236 63.024C54.628 64.176 55.324 65.772 55.324 67.812C55.324 69.228 54.964 70.476 54.244 71.556C53.524 72.612 52.528 73.38 51.256 73.86C52.768 74.268 53.944 75.024 54.784 76.128C55.624 77.208 56.044 78.552 56.044 80.16C56.044 82.344 55.276 84.084 53.74 85.38C52.228 86.676 50.152 87.324 47.512 87.324ZM69.1699 87.324C66.1699 87.324 63.8539 86.244 62.2219 84.084C60.6139 81.9 59.8099 78.852 59.8099 74.94C59.8099 70.548 60.7099 67.176 62.5099 64.824C64.3099 62.472 66.8299 61.296 70.0699 61.296C71.3659 61.296 72.6619 61.572 73.9579 62.124C75.2779 62.676 76.3579 63.42 77.1979 64.356L76.1179 66.66C75.2299 65.748 74.2579 65.064 73.2019 64.608C72.1699 64.152 71.1019 63.924 69.9979 63.924C67.6459 63.924 65.8339 64.8 64.5619 66.552C63.3139 68.304 62.6899 70.908 62.6899 74.364V76.128C63.1459 74.544 63.9859 73.308 65.2099 72.42C66.4579 71.532 67.9219 71.088 69.6019 71.088C71.0899 71.088 72.4099 71.436 73.5619 72.132C74.7139 72.804 75.6139 73.74 76.2619 74.94C76.9099 76.14 77.2339 77.52 77.2339 79.08C77.2339 80.688 76.8859 82.116 76.1899 83.364C75.5179 84.588 74.5699 85.56 73.3459 86.28C72.1459 86.976 70.7539 87.324 69.1699 87.324ZM68.9899 84.804C70.5979 84.804 71.8939 84.288 72.8779 83.256C73.8859 82.224 74.3899 80.868 74.3899 79.188C74.3899 77.532 73.8859 76.188 72.8779 75.156C71.8939 74.1 70.5979 73.572 68.9899 73.572C67.3819 73.572 66.0739 74.1 65.0659 75.156C64.0819 76.188 63.5899 77.532 63.5899 79.188C63.5899 80.868 64.0819 82.224 65.0659 83.256C66.0739 84.288 67.3819 84.804 68.9899 84.804ZM88.8119 87.324C85.9079 87.324 83.6999 86.208 82.1879 83.976C80.6759 81.744 79.9199 78.516 79.9199 74.292C79.9199 70.044 80.6759 66.816 82.1879 64.608C83.6999 62.4 85.9079 61.296 88.8119 61.296C91.7399 61.296 93.9479 62.4 95.4359 64.608C96.9479 66.792 97.7039 70.008 97.7039 74.256C97.7039 78.504 96.9359 81.744 95.3999 83.976C93.8879 86.208 91.6919 87.324 88.8119 87.324ZM88.8119 84.768C90.8279 84.768 92.3159 83.916 93.2759 82.212C94.2599 80.508 94.7519 77.856 94.7519 74.256C94.7519 70.656 94.2719 68.028 93.3119 66.372C92.3519 64.692 90.8519 63.852 88.8119 63.852C86.7959 63.852 85.2959 64.692 84.3119 66.372C83.3519 68.052 82.8719 70.68 82.8719 74.256C82.8719 77.856 83.3519 80.508 84.3119 82.212C85.2959 83.916 86.7959 84.768 88.8119 84.768ZM105.214 71.952C104.182 71.952 103.258 71.724 102.442 71.268C101.65 70.788 101.014 70.152 100.534 69.36C100.078 68.544 99.8498 67.632 99.8498 66.624C99.8498 65.616 100.078 64.716 100.534 63.924C101.014 63.108 101.65 62.472 102.442 62.016C103.258 61.536 104.182 61.296 105.214 61.296C106.222 61.296 107.122 61.536 107.914 62.016C108.706 62.472 109.33 63.108 109.786 63.924C110.266 64.716 110.506 65.616 110.506 66.624C110.506 67.632 110.266 68.544 109.786 69.36C109.33 70.152 108.706 70.788 107.914 71.268C107.122 71.724 106.222 71.952 105.214 71.952ZM105.214 69.972C106.15 69.972 106.918 69.66 107.518 69.036C108.118 68.388 108.418 67.584 108.418 66.624C108.418 65.64 108.118 64.836 107.518 64.212C106.918 63.588 106.15 63.276 105.214 63.276C104.254 63.276 103.474 63.588 102.874 64.212C102.274 64.836 101.974 65.64 101.974 66.624C101.974 67.584 102.274 68.388 102.874 69.036C103.474 69.66 104.254 69.972 105.214 69.972Z" fill="#E5CDB7"/>
      </svg>
    .subtitle.text-white Натисніть для перегляду
  .screen9__right
    .curtain-wrap
      .curtain
      p Площа квартири 46,7 м2. Містка гардеробна. Кухня площею 15,6 м2 із зоною для приготування та споживання улюблених страв. Спальня площею 17,7 м2 з ліжком, телевізором, трюмо та зоною для зберігання. Панорамні вікна з виглядом на лісопаркову зону. Скористайтесь функцією 3D-туру квартирою, і Ви впевнитесь у зручності її планування та функціональності.
    a.button.button--dark.with-hover(href="#") 
      .button__hover
      span Детальніше
    div.counter 
      span(data-current) 01 
      span / 
      span(data-all) 02
  .screen9__title-l 
    span 3d 
    span tour