.screen11 {
  background-color: var(--color-black);
  position: relative;
  padding: 210px var(--page-side-fields);
  @include to(992px) {
    padding: 150px var(--page-side-fields);
  }
  @include to(575px) {
    padding: 100px var(--page-side-fields);
  }
  @include row-flex();
  .title-h2 {
    width: 100%;
    // @include shift-left(1);
    // @include shift-right(0);
    margin-bottom: 50px;

    @include to(992px) {
      @include shift-left(0);
      margin-bottom: 30px;
    }

    @include to(768px) {
      margin-bottom: 0;
    }
  }
  &__left {
    @include size(11);
    @include shift-left(1);
    @include shift-right(0);
    @include from(576px) {
      column-count: 2;
      column-gap: 8vw;
      & > * {
        break-inside: avoid;
      }
    }
    @include to(992px) {
      @include size(8);
      @include shift-left(0);
    }
    @include to(575px) {
      @include size(24);
      @include shift(0);
      margin-bottom: 30px;
    }
  }
  &__right {
    @include to(575px) {
      @include size(24);
      @include shift(0);
    }
  }
  .link-l {
    font-size: 54px;
    @include to(1680px) {
      font-size: 38px;
    }
    @include to(992px) {
      font-size: 28px;
    }
    @include to(575px) {
      font-size: 24px;
    }
    line-height: 100%;
    color: #e5cdb7;
    a {
      color: #e5cdb7;
    }
  }
  .contacts-text {
    color: #b2a9a0;
    font-size: 24px;
    line-height: 140%;
    @include to(1680px) {
      font-size: 18px;
    }
  }
  .contacts-subtitle {
    color: #e5cdb7;
    font-size: 18px;
    line-height: 160%;
    @include to(1680px) {
      font-size: 14px;
    }
  }

  &__group:nth-last-child(n + 2) {
    margin-bottom: 50px;
    @include to(992px) {
      margin-bottom: 30px;
    }
  }
  &__group {
    & > :nth-child(1) {
      margin-bottom: 10px;
    }
    & > :nth-child(2) {
      margin-bottom: 20px;
    }
  }
  &__group-l {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a[href*='tel'] {
      text-decoration: none;
    }
    .button {
      margin-top: 50px;
    }
    a:nth-child(n + 2) {
      margin-top: 30px;
      @include to(992px) {
        margin-top: 15px;
      }
    }
  }
  .contacts-link ~ .contacts-link {
    margin-left: 40px;
  }
}

.contacts-link {
  font-size: 24px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 7px;
  @include to(1680px) {
    font-size: 18px;
  }
  color: #e5cdb7;
  svg {
    position: absolute;
    left: 0;
    // bottom: 0;
    top: -3px;
    fill: none;
    stroke-width: 2px;
    transition: transform 0.7s;
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    // width: 100%;
    // height: 100%;
    stroke: var(--color-beige);
    @include from(1023px) {
      transform: translateX(0px);
    }
  }
  &:hover svg {
    transform: translate3d(-66.6%, 0, 0);
  }
}
