ul.lang.header__lang
  li(data-animate-links).lang__item.lang__item--active
    a(href="#") Ук
  li(data-animate-links).lang__item
    a(href="#") Ру
  li(data-animate-links).lang__item
    a(href="#") En